.container {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} 


#textupdates {
    width:800px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    font-weight: bold;
    font-size: 30px;
    
    margin-bottom: 20px;
    border-radius: 2rem;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
    background-image: url(background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


/* resize card images*/
#dealer img{
    width: 200px;
    height: auto
}



#player img{
    width: 200px;
    height: auto
} 

#playerscore{
    font-size: 40px;
}

#dealerscore{
    font-size: 40px;
}

h1{
    font-size: 50px;
     
}
 h1 img{
     width: 300px;
     height: 100px;
 }

.buttons {
    
    color: red;
    text-align: center;
    width: 500px;
    padding: 10px;
}

.buttons h3 {
     
    padding: 5px;
}

.inner {
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
#money{
    font-size: 30px;
    color:red
}

#newgame{
    display:none
}
#amt{
    font-size: 30px;
}
.container{
    
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-areas: "empty1 empty1 empty1 empty1 empty1 empty1"
                         "feed1 feed1 feed1 feed1 feed1 feed1"
                         "feed1 feed1 feed1 feed1 feed1 feed1"
                        "feed2 feed2 feed2 feed2 feed2 feed2"
                         "feed2 feed2 feed2 feed2 feed2 feed2"
                         
                        ;
}

 
#dealerwrap{
    grid-area: feed1
}
#playerwrap{
    grid-area: feed2
}
