html { 
    background-image: url(background.jpg);
    background-size: cover;
  }

#textupdates {
     /* width:800px;
    height: 60px;  */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 2rem;
    
}
body {

    margin-top: 20px;
    color: white;
}


/* resize card images*/
#dealer img{
    width: 200px;
    height: auto
}



#player img{
    width: 200px;
    height: auto
} 

#playerscore{
    font-size: 40px;
}

#dealerscore{
    font-size: 40px;
}

h1{
    font-size: 50px;
    text-align: center
   
     
}
 h1 img{
     width: 300px;
     height: 100px;
     
 }

.buttons { 
    margin:auto;
    color: red;
    text-align: center;
    width: 500px;
    padding: 10px;
}

.buttons h3 {
     
    padding: 5px;
}

.inner {
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
#money{
    font-size: 30px;
    color: red;
}

 
#amt{
    font-size: 30px;
}

#playerwrap{
    position: relative;
    left: 80px;
}

#dealerwrap { 
    position: relative;
    left: 80px;
}