html { 
    background-image: url(background.jpg);
    background-size: cover;
  }

#textupdates {
     
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 2rem;
    
}
body {

    margin-top: 20px;
    color: white;
}


/* resize card images*/
#dealer img{
    width: 200px;
    height: auto
}



#player img{
    width: 200px;
    height: auto
} 

#playerscore{
    font-size: 40px;
}

#dealerscore{
    font-size: 40px;
}

h1{
    font-size: 50px;
    text-align: center
   
     
}

 h1 img{
     width: 300px;
     height: 100px;
     
 }

.buttons { 
    margin:auto; 
    color: red;
    text-align: center;
    width: 500px;
    padding: 10px;
}

.buttons h3 {
     
    padding: 5px;
}

.inner {
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
#money{
    font-size: 30px;
    
}

 
#amt{
    font-size: 30px;
}

#playerwrap{
    position: relative;
    left: 80px;
}

#dealerwrap { 
    position: relative;
    left: 80px;
}
    

#winsd{
    position: absolute;
    top: 8px;
    left: 500px;
    font-size: 40px;
}
#winsp{
    position: absolute;
    top: 8px;
    left: 500px;
    font-size: 40px;
}

 
#betting img{
    width: 100px;
    height: auto;
    padding: 5px;
}

#betting {
  display:flex;
  justify-content: space-evenly;
  align-items:center
}
/* Displays game goals and card values */
#instructions{
    font-size: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    color:green;  
    font-size: 30px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }